<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593306025070-eomv3s81ot0fath398hf1sdj4u5404c1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593306025070-eomv3s81ot0fath398hf1sdj4u5404c1</string>
	<key>API_KEY</key>
	<string>AIzaSyCM8v3ER33-R2RsPiRKK8mAH9nEEQ9gkkw</string>
	<key>GCM_SENDER_ID</key>
	<string>593306025070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.place.Taxia</string>
	<key>PROJECT_ID</key>
	<string>apptaxiaios</string>
	<key>STORAGE_BUCKET</key>
	<string>apptaxiaios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593306025070:ios:bfdeb766b340aa2e4d3a7f</string>
</dict>
</plist>